language: php
sudo: false
php:
    - 5.6
    - 7.0
    
matrix:
    allow_failures:
        - php: 7.0
    
before_script:
    - travis_retry composer install --no-interaction --prefer-source

script:
    - phpunit --coverage-clover build/logs/clover.xml

after_script:
    - CODECLIMATE_REPO_TOKEN="38e52f801c2bf9d9ee1b24a9890533956910b01fbad7be4ade31f41117d81513" vendor/bin/test-reporter --stdout > codeclimate.json
    - "curl -X POST -d @codeclimate.json -H 'Content-Type: application/json' -H 'User-Agent: Code Climate (PHP Test Reporter v0.1.1)' https://codeclimate.com/test_reports"
 
addons:
    code_climate:
        repo_token: 38e52f801c2bf9d9ee1b24a9890533956910b01fbad7be4ade31f41117d81513